<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A List Of All Reviews</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="main-body">
    <header class="home-header">
        <h1 class="home-header__title">Grandma's Cat Pictures</h1>
    </header>

    <main>
        <ul class="nav-menu__list">
            <li th:each= "review: ${reviewsModel}"><a th:href="|/show_reviews/${review.id}|"
                 th:text="${review.name}"></a></li>
        </ul>
    </main>
</body>
</html>